/*Aquí van los estilos css de la página web*/

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.portada{
    background-color: #65C2F180;
    min-height: 380px;
}

.nombre-portada{
    font-family: 'Pacifico';
}

.imagen-portada{
    width: 160px;
    height: 160px;
    margin: 5px;
    border-radius: 50%;
}

.sobre-mi{
    min-height: 230px;
    color: black;
    background-color: #f8f9fa;
    margin:20px;
}

.enlace-mail{
    text-decoration: none;
}

/* A partir de aquí los estilos corresponden a las prácticas */

.row{
    /* color: white;*/
    background-color: blue;
    border: 2px solid orange;
    padding: 10px;
    margin: 5px;
}

.columna{
    background-color: yellow;
    border: 2px dotted brown;
    padding: 5px;
    /* margin: 5px; */
}

.contenedor{
    background-color: grey;
    height: 400px;
}

.caja{
    color: white;
    background-color: green;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
}
